
.taskFinished{
    display: flex;
    position: relative;
    top: 16vh;
    left: 76.5vh;
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    color: #8284FA;
    font-size: 1.5rem;
}


.taskFinished p:nth-child(2) {
    width: 5rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333; 
    color: #F2F2F2;
    border-radius: 10px;
    position: absolute;
    left: 6.4rem;
    font-size: 1rem;
}


